body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
}

.footer-links a {
    color: #6c757d;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
